.borderAlign{
    border: 1px solid black;
    width: 60px;
    height: 40px;
    
}
table{
    border-collapse: collapse;
    text-align: center;
    margin: auto;
}
h1{
    text-align: center;
    background-color: #ffffff;
}
.containerA{
    margin-left: auto;
}
.colorPicker{
    border: 1px solid black;
    width: 60px;
    height: 40px;
}